<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto d-block">
            <img src="https://picsum.photos/1000" alt="" srcset="" class="img-fluid img-thumbnail " >
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h1>Titre De Formation </h1>
                    <small class="text-secondary ms-2">(3h)</small>
                </div>
                <div>
                    <a href="" class="btn btn-success"><i class="bi bi-plus"> S'inscrire</i></a>
                </div>
            </div>
            <b class="text-success py-0 my-0">intermediate</b>
            <div class="d-flex py-0 my-0">
                <p class="text-secondary">Par : </p>
                <ul class="list-unstyled ms-2 py-0 my-0">
                    <li>Nom Formateur 1</li>
                    <li>Nom Formateur 2</li>
                </ul>
            </div>
            <p class="">Date de formation : 07/05/2003</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, placeat. Est velit sit quis dignissimos itaque commodi. Eligendi adipisci corrupti beatae, similique maxime fugit. Iure sit vel maiores aliquam quidem.</p>

            <div class="row">
                <div class="col-6">
                    <h4>Tags</h4>
                    <ul>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                    </ul>
                </div>
                <div class="col-6">
                    <h4>categories</h4>
                    <ul>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                        <li>item</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>