<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto d-block">
            <img src={{product.image}} alt={{product.title}} srcset="" class="img-fluid img-thumbnail " >
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <h1>{{product.title}}</h1>
                    <small class="text-secondary ms-2">({{product.hours}}h)</small>
                </div>
                <div *ngIf="Auth()">
                    <a href="" class="btn btn-success"><i class="bi bi-plus"> S'inscrire</i></a>
                </div>
            </div>
            <b class="text-success py-0 my-0">{{product.difficulty}}</b>
            <div class="d-flex py-0 my-0">
                <p class="text-secondary">Par : </p>
                <ul class="list-unstyled ms-2 py-0 my-0">
                    <li>Nom Formateur 1</li>
                    <li>Nom Formateur 2</li>
                </ul>
            </div>
            <b class="">Date de formation : <span class="text-danger">{{product.date}}</span></b>
            <p>{{product.description}}</p>

            <div class="row">
                <div class="col-6">
                    <h4>Tags</h4>
                    <ul>
                        <li *ngFor="let tag of product.tags">{{tag}}</li>
                    </ul>
                </div>
                <div class="col-6">
                    <h4>categories</h4>
                    <ul>
                        <li *ngFor="let cat of product.categories">{{cat}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>