<app-navbar></app-navbar>
<div class="container d-flex justify-content-center align-items-center register" >
    <form class="col-12 col-md-6 col-lg-4 bg-body-tertiary p-2 p-sm-4 rounded-3" [formGroup]="registerForm" (submit)="registerSubmit()">
        <h1 class="text-center">Register</h1>

        <div class="mb-3 mt-5">
            <label for="name" class="mb-2">
                Nom complet :
            </label>
            <input type="text" class="form-control" id="name" placeholder="Foulan Foulani"  formControlName="name">
            <h6 class="text-danger mt-2" *ngIf="errors.name"> {{errors.name}} </h6>
        </div>

        <div class="mb-3">
            <label for="name" class="mb-2">
                Numero carte d'identité :
            </label>
            <input type="text" class="form-control" id="name" placeholder="01111111"  formControlName="cin">
            <h6 class="text-danger mt-2" *ngIf="errors.cin"> {{errors.name}} </h6>
        </div>

        <div class="mb-3">
            <label for="telephone" class="mb-2">
                Telephone :
            </label>
            <input type="text" class="form-control" id="telephone" placeholder="55 555 555"  formControlName="telephone">
            <h6 class="text-danger mt-2" *ngIf="errors.telephone"> {{errors.telephone}} </h6>
        </div>

        <div class="mb-3">
            <label for="email" class="mb-2">
                Adress email :
            </label>
            <input type="email" class="form-control" id="email" placeholder="foulan.foulani@gmail.com"  formControlName="email">
            <h6 class="text-danger mt-2" *ngIf="errors.email"> {{errors.email}} </h6>
        </div>

        <div class="mb-3">
            <label for="password" class="mb-2">
                Mot de passe :
            </label>
            <input type="password" class="form-control" id="password" placeholder="********"  formControlName="password">
            <h6 class="text-danger mt-2" *ngIf="errors.password"> {{errors.password}} </h6>
        </div>

        <div class="mb-3">
            <label for="role" class="mb-2">
                Role :
            </label>
            <select class="form-select" aria-label="Default select example" formControlName="role">
                <option value="formateur">Formateur</option>
                <option value="candidat">Candidat</option>
            </select>
            <h6 class="text-danger mt-2" *ngIf="errors.role"> {{errors.role}} </h6>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">
                Se s'inscrire
            </button>
            <a routerLink="/login" class="btn btn-link">
                J'ai déjà un compte
            </a>
        </div>
    </form>
</div>
<app-footer></app-footer>