<!-- <app-product *ngFor="let product of products" [product]="product"></app-product> -->
<h4 class="pb-1 pb-md-3 border-bottom mb-2">Les formation disponible</h4>

<div class="container justify-content-center">
  <div class="row" *ngIf="product.length!=0">
    <div class="d-flex justify-content-center col-xs-12 col-md-6 col-xl-4" *ngFor="let F of product">
      <app-product [product]="F"></app-product>
    </div>
  </div>
  <div class="d-flex my-5 py-5 h1 justify-content-center" *ngIf="product.length==0">
    Pas de resultat 🥺
  </div>
  <button class="btn btn-primary float-end" routerLink="/formation" *ngIf="this.location != '/formation'">Tous Les Formations</button>
</div>
