<app-navbar></app-navbar>

<div class="container">
    <h1 class="text-center mt-3">Ajouter une nouvelle formation</h1>
    <form>
        <!-- titre -->
        <div class="mb-3">
            <label for="title" class="form-label">Titre de la formation</label>
            <input type="text" class="form-control" id="title" aria-describedby="titleHelp">
            <div id="titleHelp" class="form-text">Le titre de la formation doit être unique.</div>
        </div>
        <!-- date -->
        <div class="mb-3">
            <label for="date" class="form-label">Date de la formation</label>
            <input type="date" class="form-control" id="date">
        </div>
        <!-- hours -->
        <div class="mb-3">
            <label for="hours" class="form-label">Nombre d'heures de la formation</label>
            <input type="number" class="form-control" id="hours" min="1">
        </div>
        <!-- difficulté -->
        <div class="mb-3">
            <label for="difficulty" class="form-label">Difficulté de la formation</label>
            <select class="form-select" id="difficulty">
                <option selected>Choisir la difficulté</option>
                <option value="1">Facile</option>
                <option value="2">Moyen</option>
                <option value="3">Difficile</option>
            </select>
        </div>
        <!-- formateur -->
        <div class="mb-3">
            <label for="formateur" class="form-label">Formateur de la formation</label>
            <select class="form-select" id="formateur">
                <option selected>Choisir le formateur</option>
                <option value="1">Formateur 1</option>
                <option value="2">Formateur 2</option>
                <option value="3">Formateur 3</option>
            </select>
        </div>
        <!-- image -->
        <div class="mb-3">
            <label for="image" class="form-label">Lien de l'image de la formation</label>
            <input type="text" class="form-control" id="image">
        </div>
        <!-- program -->
        <div class="mb-3">
            <label for="program" class="form-label">Lien du programme de la formation</label>
            <input type="text" class="form-control" id="program">
        </div>
        <!-- tags -->
        <div class="mb-3">
            <label for="tags" class="form-label">Tags de la formation séparer par virgule</label>
            <input type="text" class="form-control" id="tags">
        </div>
        <!-- categories -->
        <div class="mb-3">
            <label for="categories" class="form-label">Catégories de la formation séparer par virgule</label>
            <input type="text" class="form-control" id="categories">
        </div>
        <!-- description -->
        <div class="mb-3">
            <label for="description" class="form-label">Description de la formation</label>
            <textarea class="form-control" id="description" rows="3"></textarea>
        </div>
        <!-- submit -->
        <button type="submit" class="btn btn-success">Ajouter</button>
    </form>
</div>
<app-footer></app-footer>
