<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
  <div class="container">
    <a class="navbar-brand" routerLink="/">IsetR Formation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formation">Formation</a>
        </li>
      </ul>
      <div class="d-flex" role="search" [formGroup]="searchForm" (change)="searchSubmit()">

        <input class="form-control me-2" type="search" placeholder="Search" list="datalistOptions" aria-label="Search" formControlName="search">
        
        <datalist id="datalistOptions">
          <option value="{{m}}" *ngFor="let m of motCles">
        </datalist>

      </div>
      <!-- Ajouter Formation -->
      <a class="btn btn-outline-success rounded-circle me-2" *ngIf="role =='formateur'" routerLink="/formateur/ajouterformation"><i class="bi bi-plus-lg"></i></a>
      <!-- Les Formation du formateur -->
      <a class="btn btn-outline-success rounded-circle me-2" *ngIf="role =='formateur'" routerLink="/formateur/mesformations"><i class="bi bi-book"></i></a>
      <!-- Les Formation suivie par le candidat -->
      <a class="btn btn-outline-success rounded-circle me-2" *ngIf="isAuth" routerLink="/condidat/formationinscrit"><i class="bi bi-bookmark-check-fill"></i></a>
      <!-- Login et SignUp -->
      <button type="button" routerLink="/login" class="btn btn-outline-success me-2" *ngIf="!isAuth">Login</button>
      <button type="button" routerLink="/register" class="btn btn-warning" *ngIf="!isAuth">Register</button>
      <!-- Profile , Settings et deconnecter -->
      <div class="dropdown text-end" *ngIf="isAuth">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="38" height="38" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" (click)="logout()">Déconnecter</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
