<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1 class="text-center">Formation inscrit</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Difficulty</th>
                    <th>Formateur 1</th>
                    <th>Formateur 2</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let formation of formations" class="fs-6 fw-semibold">
                    <td>{{ formation.title }}</td>
                    <td>{{ formation.date }}</td>
                    <td>{{ formation.difficulty }}</td>
                    <td>{{ getFormateurName(formation.idFormateur[0]) }}</td>
                    <td>{{ getFormateurName(formation.idFormateur[1]) }}</td>
                    <td>
                        <a routerLink="/formation/details/{{formation.id}}" class="btn btn-success">Voir</a>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
<app-footer></app-footer>
