<div class="container-md mt-sm-3 mt-md-5 filter">
    <div class="row filter">
        <div class="col-lg-3 px-3 mb-3 mb-md-0 border-bottom border-opacity-10 pb-3">
            <h4 class="pb-1 pb-md-3 border-bottom">Filter</h4>
            <div class="form-group pb-md-3">
                <label for="filter" class="mb-2 mb-md-3">Filter par catégorie</label>
                <select class="form-select" id="filter">
                    <option value="all">Toutes les catégories</option>
                    <option value="1">Catégorie 1</option>
                    <option value="2">Catégorie 2</option>
                    <option value="3">Catégorie 3</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-9 px-3">
            <app-product-group></app-product-group>
        </div>
    </div>
</div>